* {
    font-family: 'Nunito', sans-serif;    
}
body {
    background: #4527a0;
    height: 100%;
}
.wrapper {
    font-weight: 200;
    width: 800px;
    margin: 30px auto;
    color: #fff;
    text-align: center;
}
h1 {
    font-weight: 600;
    font-size: 36px;
    text-transform: uppercase;
}
#seconds, #milisec {
    font-size: 35px;
}
button {
    font-weight: 200;
    border-radius: 15px;
    background: #7953d2;
    color: #fff;
    border: solid 1px #7953d2;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 30px;
    margin: 10px;
    outline: none;
}
button:hover {
    transition: all 0.5s ease-in-out;
    background: #fff;
    border: solid 1px #fff;
    color: #7953d2;
}
@media (max-width:700px) {
    .wrapper {
        width: 200px;
    }
}